@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700');

:root {
    --main-font: 'Sora', sans-serif;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body {
    color: #ffffff;
}

main {
    height: 90vh;
}



/* Header */
header {
    background-color: #4CAF50;
    padding: 2vh;
    text-align: center;
}

header h1 {
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.account {
    background-color: white;
    width: 10vmin;
    height: 10vmin;
    border-radius: 5vmin;
    position: relative;
    float: right;
    margin-top: -4vh;
    transition: transform 0.3s ease;

    text-align: center;
}

.account:hover {
    transform: scale(1.05);
}

/* Freelancers Section */
#freelancers {
    padding: 40px 20px;
    text-align: center;
    background-color: #181818;
}

.freelancer-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.freelancer-card {
    background-color: #121212;
    padding: 1vw;
    margin: .5vw;
    border-radius: .4vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 10vw;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.freelancer-card:hover {
    transform: scale(1.05);
}

.freelancer-card img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 10px 0;
    color: #000000;
    bottom: 0;
    position: fixed;
    width: 100%;
    border-top: .2vh solid #CCC
}

.placeholder {
    color: #000000;
    padding-top: 4vw;
    font-size: 4rem;
}
